<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.moonapps.barelyalive" version="1.0.0">
    <name>Barely Alive</name>
    <description>
        Turnt Up Picture Taker
    </description>
    <author email="njgerner@gmail.com" href="http://cordova.io">
        Nick Gerner
    </author>
    <content src="index.html"/>
    <access origin="*"/>
	<preference name="Orientation" value="portrait" />
</widget>
